<a href="https://colab.research.google.com/github/ufbfung/coursera-ibm-watson/blob/master/Coursera_learning_python_tests.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data_dictionary_test={"heartfailure":374,"dementia":474}
data_dictionary_test

{'heartfailure': 374, 'dementia': 474}

In [ ]:
# This is a data dictionary with "keys" and "values"
data_dictionary_example={"key1":1957,"key2":1958}
data_dictionary_example

{'key1': 1957, 'key2': 1958}

In [ ]:
# This is an example of a tuple. Tuples are IMMUTABLE.
tuple_example=(5,6,7,8)
tuple_example

(5, 6, 7, 8)

In [ ]:
# This is an example of a list. Lists are MUTABLE.
list_example=[5,6,7,8]
list_example

[5, 6, 7, 8]

In [ ]:
# This is an example of a set. These are UNORDERED and all elements are UNIQUE.
set_example={"A","B","C"} 
set_example

{'A', 'B', 'C'}

In [ ]:
# You can perform a variety of operations using sets

# Typecasting when you convert a list to set
set(list_example)

# difference
# set1.difference(set2)

# union
# set1.union(set2)

# intersection
# set1.intersection(set2)

# issubset

# issuperset

{5, 6, 7, 8}

# New Section